mixin linksList(obj,ulCls,liCls,linkCls)
  ul(class= ulCls)
    each key,val in obj
      li(class= liCls)
        a(class= linkCls href=key)=val

mixin btnList(array,ulCls,liCls,btnCls)
  ul(class= ulCls)
    each val in array
      li(class= liCls)
        button(class= btnCls)=val

mixin brandsList(obj,ulClassName,liClassName,btnClassName,radioName,labelClass)
  div(class=ulClassName)
    each val in obj
      div(class=liClassName)
        label(class=labelClass for="radioName"+val)
          img(src=`./assets/img/brands/`+val.split(' ').join('-')+`.png` alt="")
          input(type="checkbox" class=btnClassName id='radioName'+val)
          span=val